footer{
  height: 200px;
  background-color: $negro;
  position: absolute;
  bottom: 0;
  width: 100%;
  .col-xs-6{
    min-height: 200px;
    p{
      color: white;
      text-transform: uppercase;
      @include font-size(14px);
    }

    .copy, .rrss {
        @include centerer(false, true);
    }
    .copy{
      left:15px;
    }
    .rrss{
      right: 15px;
      a{
        color: white;
        display: inline-block;
        transition: all 0.2s ease-in-out;
        &:hover{
          opacity: 0.9;
        }
        span{
          i{
            &.fa-inverse{
              color: $negro;
            }
          }
        }
      }
    }
  }

}